@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

#lpbasecontainer.lp-base-container {
    all: initial;
    min-height: 40px;
    width: 100%;
    margin: unset;
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    display: block;
    background: #0037ffbf;
    position: fixed;
    z-index: 999999;
    bottom: 0;
    left: 0;
}

#lpbasecontainer.lp-base-container * {
    all: unset;
}

#lpbasecontainer.lp-base-container::before,
#lpbasecontainer.lp-base-container::after,
#lpbasecontainer.lp-base-container *::before,
#lpbasecontainer.lp-base-container *::after {
    all: unset;
}

#lpbasecontainer .lp-base-text {
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    text-shadow: 2px 2px 2px black;
    color: white;
    /* float: left; */
    width: fit-content;
    margin: 5px auto;
    min-width: 300px;
    display: inline-block;
    line-height: 17px;
}

#lpbasecontainer .lp-base-pro-button {
    background: linear-gradient(to left top, blue, #ff00eb);
    padding: 5px 10px 5px 10px;
    color: beige;
    text-decoration: none;
    border-radius: 5px;
    display: block !important;
    border: 2px solid #2e08a5;
    margin: 5px auto;
    max-width: 200px;
    font-weight: 700;
    cursor: pointer;
}

#lpbasecontainer .lp-base-pro-button.button {
    display: unset;
    width: unset;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    line-height: 27px;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset;
    text-shadow: unset;
}

#lpbasecontainer .lp-base-text img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    float: unset;
    margin: unset;
    padding: unset;
    display: inline-block;
    text-indent: unset;
}

#lpbasecontainer .lp-base-utp {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

#lpbasecontainer .lp-base-utp:after {
    content: "ЭТОТ САЙТ ПРОДАЕТСЯ!";
}

#lpbasecontainer .lp-base-pro-button.button:after {
    content: "КУПИТЬ ЛЕНДИНГ";
    position: unset;
    display: inline-block;
    background: unset;
    width: unset;
}

#lpbasecontainer .lp-base-pro-button.button:hover {
    background: #7cb53a;
    color: #fff !important;
    border: 2px solid #2e08a5 !important;
}

#lpbasecontainer .lp-base-pro-button.logo span:after {
    content: "LP-BASE.PRO";
}

#lpbasecontainer a.lp-base-pro-button.logo {
    color: white;
    font-size: inherit;
    font-family: inherit;
    background: none;
    border: none;
    float: unset;
    margin: auto;
    height: unset;
    width: unset;
    padding: unset;
    text-indent: unset;
}

#lpbasecontainer a.lp-base-pro-button.logo:before,
a.lp-base-pro-button.logo:after {
    content: none;
}

#lpbasecontainer .lp-base-span {
    margin-left: 10px;
    vertical-align: middle;
    display: unset !important;
    color: unset !important;
    /*font-size: 15px !important;*/
    text-indent: unset;
}

@media screen and (max-width: 520px) {
    #lpbasecontainer .lp-base-text {
        width: 100%;
    }

    #lpbasecontainer .lp-base-container {
        min-height: 100px;
    }

    #lpbasecontainer .lp-base-utp {
        /*font-size: 15px !important*/
    }
}

#lpbasecontainer .lp-thief a {
    color: #f0f8ff17;
}





.lp-base-utp {
    -webkit-animation: text-shadow-drop-center 2s infinite both;
    animation: text-shadow-drop-center 2s infinite both;
}

/* ----------------------------------------------
 * Generated by Animista on 2019-6-8 18:42:58
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation text-shadow-drop-center
 * ----------------------------------------
 */
@-webkit-keyframes text-shadow-drop-center {
    0% {
        color: white;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    50% {
        color: #f3b221;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        color: #d0972f;
        text-shadow: 0 0 18px rgba(0, 0, 0, 0.85);
    }
}

@keyframes text-shadow-drop-center {
    0% {
        color: white;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    50% {
        color: #f3b221;
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        color: #d0972f;
        text-shadow: 0 0 18px rgba(0, 0, 0, 0.85);
    }
}